form {
    width: 600px;
    border: 2px solid navy;
}

.q1 {
    border-bottom: 2px dashed gray;
    padding-bottom: 20px;
    margin: 20px;
}

.t1 {
    float: left;
    text-align-last: justify;
    width: 100px;
    padding-right: 20px;
}

.btns {
    text-align: center;
    margin: 20px;
}

textarea {
  /* 右下角放大縮小功能 */
}
